.site-hero{
  background-color: $primary-color;
  &-content{
    img{
      display: block;
      box-sizing: border-box;
      border-radius: 50%;
      border: 10px solid #fff;
      margin: 1em;
      width: 100%;
      height: auto;
      max-width: 300px;
      max-height: 300px;
    }
    h1{
      color: $white;
      font-size: 150px;
      margin-bottom: 30px;
      margin-left: -10px;
      @include desktop-lg{
        font-size: 120px;
      }
      @include mobile{
        font-size: 60px;
        margin-left: 0px;
    }
    }
    h2{
      color: $white;
      margin-bottom: 50px;
    }
    p{
      font-size: 18px;
      line-height: 2;
    }
    a span.fa{
      color: $white;
      font-size: 30px;
      padding: 5px;
    }
  }
}


.site-blog{
  h1{
    margin-bottom: 50px;
  }
  p, li{
    color: $text-color-dark;
    font-size: 18px;
    line-height: 2;
    text-align: justify;
  }
  &-details{
    h2 {
      font-size: 35px;
    }
    p.intro {
      color: $text-color-dark;
      font-size: 22px;
      line-height: 1.5;
      font-weight: bold;
    }
  }
}


pre {
  padding: 15px;
}